<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Gestion des éléves | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Fonction CRUD Base sur la gestion d'éléves</h2>
    </div>
    {% block section %}
        
    {% endblock section %}
        
<script type="module" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>